html {
  min-width: 600px;
}

section {
  opacity: 0;
  transform: translateX(-5%);
  transition: isavailable 5s forwards;
}
section.nowvisible {
  opacity: 1;
  transform: translateX(0);
}
section.nowvisible:first-child { transition-duration: .6s; }
section.nowvisible:nth-child(2) { transition-duration: 1s; }
section.nowvisible:last-child { transition-duration: 1.2s; }

.hero {
  position: relative;
  min-height: var(--std-min-height);
  background: linear-gradient(45deg, oklab(0% 0 0 / 0.933), oklab(0% 0 0 / 0.333), oklab(0% 0 0 / 0.667));
}

img{
  position: absolute;
  object-fit: cover;
  height: var(--full-per);
  width: var(--full-per);
  filter: brightness(.8);
  z-index: -1;
}

nav {
  position: relative;
  display: flex;
  margin-bottom: 2rem;
  padding: 2rem 5rem;
  align-content: center;
  color: var(--p-light);
}

.brandname {
  display: flex;
  align-items: center;
  font-family: var(--maintxt);
  font-weight: 600;
  font-size: 2rem;
  align-items: center;
  margin-right: 10%; 
  flex: 1; 
}
.brandname img {
  width: min-content;
  height: 50%;
}

.sec-nav {
  display: inherit;
  justify-content: end;
  white-space: nowrap;
  align-items: center;
  width: var(--full-per);
  font-size: 1.2rem;
  font-family: var(--sectxt);
}

.sec-nav div {
  position: relative;
  margin-right: 5%;
  cursor: pointer;
  transition: background-color 4s ease-out;
}

.sec-nav div a {
  text-decoration: none;
  color: var(--p-light);
}

.sec-nav div:hover .sec-nav-hover {
  position: absolute;
  bottom: -10%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #679fd8;
}

.hero-msg {
  padding: 0 3rem 2rem 15%;
}

.hero-msg p {
  margin: .7rem 0 1.7rem;
  width: 50%;
  font-size: 5rem;
  font-family: var(--primarytxt);
  font-weight: 900;
  color: var(--p-light);
}

#vanishing-text{
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  min-height: 2.5rem;
  font-family: var(--sectxt);
  font-size: 1.5rem;
  color: oklab(90.298% -0.00352 0.05511);
}

.hero-cta-btn {
  position: relative;
  padding: 1rem 2.7rem;
  font-size: 1.7rem;
  border: none;
  border-radius: 10px;
  background: none;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
}

.hero-cta-btn::before, .hero-cta-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: transform .4s ease;
  z-index: 0;
}

.btn-label {
  position: relative;
  color: var(--p-light);
  font-family: var(--sectxt);
  z-index: 1;
}

.hero-cta-btn:hover .btn-label {
  color: oklab(17.764% 0 -0.00002);
}

.hero-cta-btn::before {
  background: #3355ffaa;
  transform: translateX(0);
}

.hero-cta-btn::after {
  background: oklab(90.732% -0.01164 0.07211);
  transform: translateX(-100%);
}

.hero-cta-btn:hover::before {
  transform: translateX(100%);
}

.hero-cta-btn:hover::after {
  transform: translateX(0);
}

#hiw {
  padding: 1rem 2rem 2.3rem;
  color: var(--p-dark);
  background: oklab(95.214% -0.00029 -0.01839);
}

.hiw-intro {
  margin-bottom: 4rem;
  text-align: center;
  justify-self: center;
  font-family: var(--sectxt);
  font-size: 2.7rem;
}

.sp {
  margin: 1.2rem 0 1rem;
}

.sp-sp {
  color: oklab(52.78% -0.01011 -0.23165);
}

.hiw-intro div {
  width: 80%;
  justify-self: center;
  font-size: 1.8rem;
  font-weight: 300;
}

#process {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  text-align: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1.5rem;
}

.steps {
  position: relative;
  display: flex;
  font-family: var(--maintxt);
  padding: 1rem;
  justify-content: center;
  align-items: center;
  max-height: 12rem;
  min-width: 20%;
  color: oklab(27.104% 0.01232 -0.06089 / 0.933);
  border-radius: 10px;
  background: oklab(76.598% -0.02297 -0.05892 / 0.439);
  box-sizing: border-box;
}

.steps:hover {
  transform: scale(1.02);
  background-color: oklab(86.26899999999999% 0.02 -0.05741 / 0.314); 
  cursor: pointer;
  box-shadow: 3px 3px 5px 4px oklab(39.343% 0.0074 -0.02763 / 0.667);
}

.step-count {
  position: absolute;
  top: 0;
  left: -2.5%;
  height: 4.5rem;
  width: 4.5rem;
  transform: rotate(-5deg); 
}

.steps:hover .step-count {
  animation: wiggle .2s forwards;
}
@keyframes wiggle {
  0%, 100% { transform: translate3d(0, 0, 0); }
  30% { transform: translate3d(6px, 0, 0); }
  90%{ transform: translate3d(-3px, 0, 0); }
}

.steps > div:first-child {
  display: flex;
  flex-direction: column;
}

.process-header {
  align-content: center;
  margin: 0 0 .7rem .2rem;
  font-size: 1.9rem;
  font-weight: 500;
  flex: 1;
}

#process p {
  font-size: 1.3rem;
  font-weight: 450;
}

#hiw a {
  display: block;
  width: max-content;
  justify-self: center;
}

.hiw-cta-btn {
  display: flex;
  justify-self: center;
  margin-top: 2rem;
  padding:1rem 2.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  color: var(--p-light);
  background: #0044ccac;
  overflow: hidden;
  cursor: pointer;
}

.hiw-cta-btn:hover {
  background: oklab(54.342% -0.01099 -0.25221 / 0.933);
}

#footer {
  min-height: 40dvh;
  padding: 2.5rem 2.5rem 1rem;
  font-family: var(--ftrtxt);
  color: var(--p-light);
  background: oklab(19.855% -0.00412 -0.02002);
}
#footer > div:first-child {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  border-bottom: 1px solid oklab(51.028% 0 -0.00006 / 0.667);
  gap: 1.7rem;
  padding-bottom: 1.7rem;
}
#footer > div:first-child div:last-child {
  margin-bottom: 1.7rem;
}
#footlinks p{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

#footlinks a {
  display: block;
  text-decoration: none;
  width: max-content;
}

#footlinks span {
  display: block;
  width: max-content;
  white-space: nowrap;
  font-size: 1.2rem;
  margin-bottom: .5rem;
  font-weight: 400;
  color: oklab(90.815% 0.01232 -0.04468 / 0.8);
  cursor: pointer;
}

#footlinks span:hover {
  color: oklab(68.699% -0.03539 -0.09711);
}
#footer > div:nth-child(2) {
  align-content: center;
  margin: 2rem .8rem 1rem;
  text-align: center;
  font-size: 15px;
}

/* tablet */
@media screen and (min-width: 426px) and (max-width: 635px) {
  .hero {
    min-height: 60dvh;
    min-height: initial;
  }
  nav {
    padding: 1rem 2rem;
  }
  .brandname {
    margin-right: 7%;
  }
  .sec-nav {
    width: min-content;
  }
  .hero-msg {
    width: 100%;
    text-align: center;
    padding: 3rem;
  }
  .hero-msg p {
    width: 100%;
    font-size: 4rem;
  }
   #vanishing-text {
    justify-content: center;
  }
  #process {
    min-height: var(--std-min-height);
  }
}


/* mobile */
@media screen and (max-width: 425px) {
  html, body {
    min-width: unset;
    background: var(--p-dark);
  }
  .hero {
    min-height: 50dvh;
  }
  nav {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
  }
  .brandname {
    flex: 1;
    font-size: 1.5rem;
    margin-right: 7%;
  }
  .sec-nav {
    font-size: clamp(1rem,1.1rem,1.2rem);
  }
  .sec-nav > div:nth-child(2) {
    margin-right: 0;
  }
  .hero-msg {
    width: 100%;
    text-align: center;
    padding: 1rem 2rem 3rem;
  }
  .hero-msg p {
    width: 100%;
    font-size: 3rem;
  }
  .hero-cta-btn {
    font-size: 1.3rem;
    padding: 1rem 2.3rem;
  }
  #vanishing-text {
    min-height: 3rem;
    font-size: 1.3rem;
    justify-content: center;
  }
  #hiw {
    padding: 1rem 1rem 2.3rem;
  }
  .hiw-intro {
    font-size: 2.5rem;
    width: 100%;
  }
  .hiw-intro div {
    padding: 0 1rem;
    font-size: 1.3rem;
    width: 100%;
  }
  #process {
    justify-content: center;
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  #process p {
    font-size: 1.2rem;
  }
  .steps {
    height: 10rem;
    width: 100%;
  }
  .step-count {
    height: 3.5rem;
    width: 3.5rem;

  }
  .steps:nth-child(odd):hover {
    transform: rotate(2deg);
  }
  .steps:nth-child(even):hover {
    transform: rotate(-2deg);
  }
  .process-header {
    font-size: 1.5rem;
  }
  #process p {
    font-size: 1.2rem;
  }
  #footer > div:first-child {
    padding: 0;
  }
  #footlinks p {
    font-size: 1.3rem;
  }
  #footlinks span {
    font-size: 1.1rem;
  }
}