html {
  min-width: 600px;
}
.ham-overlay, .sidebar {
  display: none;
}
section {
  opacity: 0;
  transform: translateX(-4%);
  transition: isavailable 5s forwards;
}
section.nowvisible {
  opacity: 1;
  transform: translateX(0);
}
section.nowvisible:nth-of-type(1) { transition-duration: .5s; }
section.nowvisible:nth-of-type(2) { transition-duration: .7s; }
section.nowvisible:nth-of-type(3) { transition-duration: .9s; }
section.nowvisible:nth-of-type(4) { transition-duration: 1.2s; }

.hero {
  position: relative;
  min-height: var(--std-min-height);
  background: linear-gradient(45deg, #000000ee, #00000055, #000000aa);
}

img{
  position: absolute;
  object-fit: cover;
  height: var(--full-per);
  width: var(--full-per);
  filter: brightness(.4);
  z-index: -1;
}

nav {
  position: relative;
  display: flex;
  margin-bottom: 2rem;
  padding: 2rem 5rem;
  align-items: center;
  color: var(--p-light);
}

.brandname {
  display: flex;
  align-items: center;
  font-family: var(--maintxt);
  font-weight: 600;
  font-style: italic;
  font-size: 2.3rem;
  align-items: center;
  margin-right: 10%; 
  flex: 1; 
}
.brandname img {
  width: min-content;
  height: 50%;
}

.sec-nav {
  display: flex;
  justify-content: end;
  white-space: nowrap;
  align-items: center;
  width: var(--full-per);
  font-size: 1.2rem;
  font-family: var(--sectxt);
}

.sec-nav div {
  position: relative;
  margin-right: 5%;
  cursor: pointer;
}
.sec-nav div:last-child {
  margin-right: 0;
}

.menu, .hamburger {
  display: none;
}

.sec-nav div a {
  text-decoration: none;
  color: var(--p-light);
}

.sec-nav-hover {
  position: absolute;
  bottom: -25%;
  left: 0;
  height: 2.7px;
  width: 100%;
  background-color: none;
  transition: background-color .3s ease-out;
}

.sec-nav div:hover .sec-nav-hover {
  background-color: #679fd8;
}

.hero-msg {
  align-self: center;
  text-align: center;
  padding: 0 10% 2rem;
}

.hero-msg p {
  margin: .7rem 0 1.7rem;
  width: 100%;
  font-size: 5.3rem;
  font-family: var(--primarytxt);
  font-weight: 900;
  color: var(--p-light);
}

#vanishing-text{
  display: flex;
  margin-bottom: 2rem;
  justify-self: center;
  min-height: 2.5rem;
  font-family: var(--sectxt);
  font-size: 1.5rem;
  color: #ebdfb6;
}

.hero-cta-btn {
  position: relative;
  padding: 1rem 2.7rem;
  font-size: 1.7rem;
  border: none;
  border-radius: 10px;
  background: none;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
}

.hero-cta-btn::before, .hero-cta-btn::after {
  content: "";
  position: absolute;
  inset: -.5px;
  transition: transform .4s ease;
  z-index: 0;
}

.btn-label {
  position: relative;
  color: var(--p-light);
  font-family: var(--sectxt);
  z-index: 1;
}

.hero-cta-btn:hover .btn-label {
  color: #111111;
}

.hero-cta-btn::before {
  background: #3355ffbb;
  transform: translateX(0);
}

.hero-cta-btn::after {
  background: #ece2aa;
  transform: translateX(-100%);
}

.hero-cta-btn:hover::before {
  transform: translateX(100%);
}

.hero-cta-btn:hover::after {
  transform: translateX(0);
}

#why {
  padding: 1rem 1.5rem 2.3rem;
  color: var(--p-dark);
  background: #d5dbe4;
}

#why .hiw-intro {
  margin-bottom: 5rem;
}

.reasons-container {
  display: flex;
  margin-bottom: 1.5rem;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.group {
  display: flex;
  gap: 3rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  will-change: transform;
  animation: infinit 80s linear infinite;
}
@keyframes infinit {
  from {
    transform: translateX(0);
  }to {
    transform: translateX(-100%);
  }
}

.reason {
  position: relative;
  display:flex;
  flex-direction:column;
  padding: 1.5rem;
  justify-content: center;
  height: 12rem;
  min-width: 18rem;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background: #10161fef;
  z-index: 1;
}

.group .reason:first-child {
  margin-left: 0;
}
.group .reason:last-child {
  margin-right: 3rem;
}

.reason svg {
  position: absolute;
  top:0; right: -40%;
  width: 100%;
  height: 100%;
  filter: brightness(.4);
  z-index: -1;
}

.reason span {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-family: var(--ftrtxt);
  font-weight: 600;
  color: var(--p-light);
}

.reason p {
  font-family: "Segoe UI", serif;
  color: var(--input-bg);
  font-size: 1rem;
}

#hiw {
  padding: 1rem 2rem 2.3rem;
  color: var(--p-dark);
  background: var(--w-svg);
}

.hiw-intro {
  margin-bottom: 4rem;
  text-align: center;
  justify-self: center;
  font-family: var(--sectxt);
  font-size: 2.7rem;
}

.sp {
  margin: 1.2rem 0 1rem;
}

.sp-sp {
  color: #3355ee;
}

.hiw-intro div {
  width: 80%;
  justify-self: center;
  font-size: 1.8rem;
  font-weight: 400;
}

#process {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  text-align: center;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1.5rem;
}

.steps {
  position: relative;
  display: flex;
  font-family: var(--maintxt);
  padding: 1rem;
  justify-content: center;
  align-items: center;
  max-height: 12rem;
  min-width: 20%;
  color: #222244ee;
  border-radius: 10px;
  background: #94b7da70;
  box-sizing: border-box;
}

.steps:hover {
  transform: scale(1.02);
  background-color: #d0ccf850; 
  box-shadow: 2px 2px 4px 3px #444455aa;
}

.step-count {
  position: absolute;
  top: 0;
  left: -2.5%;
  height: 4.5rem;
  width: 4.5rem;
  transform: rotate(-5deg); 
}

.steps:hover .step-count {
  animation: wiggle .15s forwards;
}
@keyframes wiggle {
  0%, 100% { transform: translate3d(0, 0, 0); }
  30% { transform: translate3d(4px, 0, 0); }
  90%{ transform: translate3d(-2px, 0, 0); }
}

.steps > div:first-child {
  display: flex;
  flex-direction: column;
}

.process-header {
  align-content: center;
  margin: 0 0 .7rem .2rem;
  font-size: 1.9rem;
  font-weight: 600;
  flex: 1;
}

#process p {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Segoe UI";
}

#hiw a {
  display: block;
  width: max-content;
  justify-self: center;
}

.hiw-cta-btn {
  display: flex;
  justify-self: center;
  margin-top: 2rem;
  padding: 1rem 2.7rem;
  font-size: 1.7rem;
  border: none;
  border-radius: 10px;
  color: var(--p-light);
  background: #3355dd;
  overflow: hidden;
  cursor: pointer;
}

.hiw-cta-btn:hover {
  background: #2945cf;
}

#footer {
  min-height: 40dvh;
  padding: 2.5rem 2.5rem 1rem;
  font-family: var(--ftrtxt);
  color: var(--p-light);
  background: #10161f;
}

#footer > div:first-child {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  border-bottom: 1px solid #666666aa;
  gap: 1.7rem;
  padding-bottom: 1.7rem;
}

#footer > div:first-child div:last-child {
  margin-bottom: 1.7rem;
}

#footlinks p{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

#footlinks a {
  display: block;
  text-decoration: none;
  width: max-content;
}

#footlinks span {
  display: block;
  width: max-content;
  white-space: nowrap;
  font-size: 1.2rem;
  margin-bottom: .5rem;
  font-weight: 400;
  color: #ddddffcc;
  cursor: pointer;
}

#footlinks span:hover {
  color: #679fd8;
}

#footer > div:nth-child(2) {
  align-content: center;
  margin: 2rem .8rem 1rem;
  text-align: center;
  font-size: 15px;
}


/* tablet */
@media screen and (min-width: 426px) and (max-width: 635px) {
  .hero {
    min-height: 60dvh;
    min-height: initial;
  }
  nav {
    padding: 1rem 2rem;
  }
  .brandname {
    margin-right: 7%;
  }
  .hero-msg {
    width: 100%;
    text-align: center;
    padding: 3rem;
  }
  .hero-msg p {
    width: 100%;
    font-size: 4rem;
  }
   #vanishing-text {
    justify-content: center;
  }
  #process {
    min-height: var(--std-min-height);
  }
}


/* mobile */
@media screen and (max-width: 425px) {
  html, body {
    min-width: unset;
    background: var(--p-dark);
  }
  #container {
    position: relative;
  } 
  .ham-overlay {
    position: absolute;
    display: none;
    top:0; left:0;
    width: 100%;
    min-height: 200dvh;
    background: #000b;
    z-index: 2;
  }
  .hero {
    min-height: 50dvh;
  }
  nav {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
  }
  .brandname {
    flex: 1;
    font-size: 1.5rem;
    margin-right: 7%;
  }
  .sec-nav {
    font-size: clamp(1rem,1.1rem,1.2rem);
  }
  .sec-nav div {
    margin-right: 0;      
  }
  .sec-nav div a {
    display: none;
  }
  .sec-nav-hover {
    display: none;
  }
  .menu, .hamburger {
    display: inline-block;
  }
  .hamburger, .cancelsvg {
    width: 2rem;
    height: 2rem;
  }
  .closesvg {
    display: flex;
    margin: .3rem .5rem .5rem 0;
    justify-self: right;
  }
  .sidebar {
    position: absolute;
    top:0; right:0;
    display: none;
    height: 65dvh;
    padding: .5rem .3rem;
    width: clamp(65%, 70%, 75%);
    font-family: var(--sectxt);
    overflow-y: auto;
    background: #eaeafa;
    z-index: 3;
  }
  .sidebar.vis {
    animation: fadeIn .3s ease;
  }
  @keyframes fadeIn {
    from {
      transform: translateX(+100%);
    }to {
      transform: translateX(0);
    }
  }
  .sidebar div {
    text-align: left;
    background: none;
  }
  .sidebar div:last-child {
    margin-bottom: 3rem;
  }
  .sidebar div a {
    display: block;
    margin: 1rem 0 1rem;
    min-width:min-content;
    width: 90%;
    border-bottom: .1px solid var(--text-light);
    padding: 2rem 1rem .5rem 1.3rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--clean-border);
  }
  .sidebar div:hover {
    background: #03f2;
  }
  .hero-msg {
    width: 100%;
    text-align: center;
    padding: 1rem 2rem 3rem;
  }
  .hero-msg p {
    width: 100%;
    font-size: 3rem;
  }
  .hero-cta-btn {
    font-size: 1.3rem;
    padding: 1rem 2.3rem;
  }
  #vanishing-text {
    min-height: 3rem;
    font-size: 1.3rem;
    justify-content: center;
  }
  #why {
    min-height: 50dvh;
  }
  #why .hiw-intro {
    margin-bottom: 4rem;
  }
  .group {
    gap: 1.7rem;
    animation: infinit 38s linear infinite;
  }
  .reason {
    padding: 1rem;
    height: 9rem;
    min-width: 11rem;  
    border-radius: 15px;
  }
  .group .reason:first-child {
    margin-left: 0;
  }
  .group .reason:last-child {
    margin-right: 1.7rem;
  }
  .icon-wrapper {
    display: none;
    margin: 0 auto .5rem;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #eff6ff;
  }
  .reason span {
    margin-bottom: .7rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--p-light);
  }
  .reason p {
    display: none;
  }
  #hiw {
    padding: 1rem 1rem 2.3rem;
  }
  .hiw-intro {
    font-size: 2.5rem;
    width: 100%;
  }
  .hiw-intro div {
    padding: 0 1rem;
    font-size: 1.3rem;
    width: 100%;
  }
  #process {
    justify-content: center;
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  #process p {
    font-size: 1.2rem;
  }
  .steps {
    height: 10rem;
    width: 100%;
  }
  .step-count {
    height: 3.5rem;
    width: 3.5rem;
  }
  .steps:nth-child(odd):hover {
    transform: rotate(2deg);
  }
  .steps:nth-child(even):hover {
    transform: rotate(-2deg);
  }
  .process-header {
    font-size: 1.5rem;
  }
  #process p {
    font-size: 1.1rem;
  }
  .hiw-cta-btn {
    font-size: 1.3rem;
    padding: 1rem 2.3rem;
  }
  #footer > div:first-child {
    padding: 0;
  }
  #footlinks p {
    font-size: 1.3rem;
  }
  #footlinks span {
    font-size: 1.1rem;
  }
}
